@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";

@layer base {
  body {
    font-family: Poppins;



  }
}

@theme {

  --brand-blue: #254A76;
  --brand-blue-900: #3b5c84;
  --brand-blue-800: #516e91;
  --brand-blue-700: #66809f;
  --brand-blue-600: #7c92ad;
  --brand-blue-500: #92a5bb;
  --brand-blue-400: #a8b7c8;
  --brand-blue-300: #bec9d6;
  --brand-blue-200: #d3dbe4;
  --brand-blue-100: #e9edf1;
  --color-brand-black-light: #262626;
  --color-brand-blue: #254A76;
  --color-brand-blue-down: #80BBEB;
  --color-brand-gray: #EDEBF7;

  --font-poppins: "Poppins", sans-serif; 

  --animate-typing: typing 1s steps(20)  infinite;
  @keyframes typing {
    0% {
      max-width: 0%;
        }
    50% {
      max-width: 100%;
    }
    100% {
      max-width: 0%;
    }
  }
}